.top-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  border-bottom: 1px solid rgba(42, 42, 42, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

.icons-container {
  margin-right: 24%;
}

.icons {
  margin-right: 24px;
  font-size: 30px;
  color: #2a2a2a;
}

.title-container {
  width: 150px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
}

.title {
  margin: 0;
  font-family: "Sora", sans-serif;
  font-variant-caps: small-caps;
  font-size: 30px;
  font-weight: lighter;
  color: #2a2a2a;
  text-align: center;
  cursor: default;
}

.searchbar {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  outline: none;
}

.search-icon {
  display: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1400px) {
  .icons-container {
    margin-right: 34%;
  }
}

@media (max-width: 920px) {
  .title {
    display: none;
  }

  .icons-container {
    margin-right: 44%;
  }

  .searchbar {
    display: none;
  }

  .search-icon {
    display: inline;
  }
}

@media (max-width: 600px) {
  .title {
    display: none;
  }

  .icons-container {
    margin-right: 30%;
  }

  .searchbar {
    display: none;
  }

  .search-icon {
    display: inline;
  }
}
